@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.input-container{
  margin: auto;
  justify-content: center;
  background: #c5b6b6;
  padding: 20px;
  border-radius: 8px;
}
.input-container > input{
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 50px;
  width: 50%;
  border-radius: 8px;
}

.title {
  color: #0f1827;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subtitle {
  color: #000000;
  font-size: 12px;

  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.login-button {
  width: 100%;
  padding: 15px;
  background-color: #0f1827;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: white;
  color:#0f1827;
  border: double #0f1827;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #ccc;
  color: #333;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ccc;
  color: #fff;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.css-79ws1d-MuiModal-root{
  align-items: baseline;
    justify-content: space-between;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
* {
  margin: 0;
}
body {
  background-color: #191c36;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  padding: 10px;
}

.logo {
  height: 100px;
  margin-left: 20px;
}

.container-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

}
.w-50{
  width: 70%;
  margin: auto;
  color: #fff;
  z-index: 1200;
  position: relative;
}
.col-8 {
  grid-column: 1 / span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-4 {
  grid-column: 2 / span 1;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f1827;
  height: 100%;
}

.col-color {
  color: #fff;
  padding: 20px;
  height: 100%;
}

.dots-container {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffb900;
  margin: 8px;
}

.image {
  margin-left: -136px;
  width: 100%;
  max-width: 700px;
  margin-top:80px
}
.name{
  margin-right: 40px;
}